.navbar {
    margin-bottom: 2%;
}

.central, .card-columns {
    margin: 0% 2% 2% 2%;
}

.paneladd {
    margin: 0% 10% 2% 10%;
}

.btn-dark {background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%)}
.btn-dark {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   margin-top: 1%;
}

.btn-dark:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
}

.carn {
    margin-left: auto;
    margin-bottom: 2%;
    width: auto;
}

.alert {
    margin: 0% 2% 2% 2%;
}

.btn-primary, .btn-secondary {
    margin-left: 0.3%;
}


.logo {
    max-width: 60%;
}

.blur {
    filter: blur(7px);
}

.test {
    margin-top: 2% !important;
}

.alert-secondary {
    margin: 1%;
}

.test2 {
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 0.3%;
}

.greycolor {
    background-color: #5D737E !important;
    border-color: #5D737E !important;
}

.newpost {
    background-color: #CA2E55 !important;
    margin: 0.3%;
}

.card {
    border-radius: 1rem !important;
    border: 2px dashed rgba(0,0,0,.125) !important;
}

.card-header {
    border-radius: 1rem 1rem 0px 0px !important;
    background-image: url('http://localhost/JobBoard/img/geometry.png') !important;
    background-repeat: repeat;
    border-bottom: none !important;
}

.card-footer {
    border-radius: 0px 0px 1rem 1rem !important;
    background-image: url('http://localhost/JobBoard/img/geometry.png') !important;
    background-repeat: repeat;
    border-top: none !important;
}

.card-body {
    background-image: url('http://localhost/JobBoard/img/geometry.png') !important;
    background-repeat: repeat;
}

.Subt2 {
    font-family: 'Exo 2', sans-serif !important;
    font-size: 120% !important;
    color: white !important;
}

input, body {
    font-family: 'Exo 2', sans-serif !important;
}

footer {
    background-color: #30292F !important;
}

.row-active{
  background-color: lightblue;
}

.thead-admin{
    background-color: #30292F !important;
}

.nicotest  {
    border-radius: 16px;
}

.marg1p {
    margin-bottom: 2% !important;
}

.custom-file {
    margin-bottom: 3% !important;
}

.nicomarg {
    margin-bottom: 3%;
}

.nav-tabs {
    margin: 2% 2% 0% 2% !important;
}

td {
    max-width: 100px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.marg2 {
    margin: 0% 0.5% 2% 0.5%;
}

table {
    margin: 2%;
    width: 95% !important;
}

.table thead th {
    border-bottom: none !important;
}

.inputadmin {
    width: 90% !important;
}

.btn-success, .btn-danger {
    margin-bottom: 1%;
}

main{
  flex: 1 0 auto;
}

body{
    display: flex;
    height: 100%;
    flex-direction: column;
    min-height: 100vh;
}