.navbar {
    margin-bottom: 2%;
}

.central, .card-columns {
    margin: 0% 2% 2% 2%;
}

.paneladd {
    margin: 0% 10% 2% 10%;
}

.btn-dark {
    margin-top: 1%;
}

.carn {
    margin-left: auto;
    margin-bottom: 2%;
    width: auto;
}

.alert {
    margin: 0% 2% 2% 2%;
}

.btn-primary, .btn-secondary {
    margin-left: 0.3%;
}


.logo {
    max-width: 60%;
}

.blur {
    filter: blur(7px);
}

.test {
    margin-top: 2% !important;
}

.alert-secondary {
    margin: 1%;
}

.test2 {
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 0.3%;
}

.greycolor {
    background-color: #5D737E !important;
    border-color: #5D737E !important;
}

.newpost {
    background-color: #CA2E55 !important;
    margin: 0.3%;
}

.card {
    border-radius: 1rem !important;
}

.card-header {
    border-radius: 1rem 1rem 0px 0px !important;
    background-color: #E6E9ED !important;
    border-bottom: none !important;
}

.card-footer {
    border-radius: 0px 0px 1rem 1rem !important;
    background-color: #E6E9ED !important;
    border-top: none !important;
}

.card-body {
    background-color: #E6E9ED !important;
}

.Subt2 {
    font-family: 'Exo 2', sans-serif !important;
    font-size: 120% !important;
    color: white !important;
}

input, body {
    font-family: 'Exo 2', sans-serif !important;
}

footer {
    background-color: #30292F !important;
}

.nicotest  {
    border-radius: 16px;
}

.marg1p {
    margin-bottom: 1% !important;
}

.custom-file {
    margin-bottom: 3% !important;
}

.nicomarg {
    margin-bottom: 3%;
}